<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="8888" />
    <add key="back_log" value="10" />
		<add key="resource_path" value="D:\Univ\TRPZ_Repos" />
    <add key="db_conn_str" value="Host=localhost;Username=postgres;Password=12345;Port=5432;Database=TRPZ_DB_Serv" />
    <add key="key_authorization" value="1" />
  </appSettings>
</configuration>